GATEWAY_PORT=8080
USER_SERVICE_PORT=3001
TRANSPORT_SERVICE_PORT=3002
ASSIGNMENT_SERVICE_PORT=3003
NOTIFICATION_SERVICE_PORT=3004
JWT_SECRET=replace_this_for_local_dev
INTERNAL_SERVICE_TOKEN=replace_this_internal_token
USER_SERVICE_URL=http://localhost:3001
TRANSPORT_SERVICE_URL=http://localhost:3002
ASSIGNMENT_SERVICE_URL=http://localhost:3003
NOTIFICATION_SERVICE_URL=http://localhost:3004
